<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1,user-scalable=no">
    <title>订单详情页</title>
    <link rel="stylesheet" type="text/css" href="{$Think.config.domain.resource_url}/static/resource/online/css/commen.css?v={$Think.config.release_version}">
    <link rel="stylesheet" type="text/css" href="{$Think.config.domain.resource_url}/static/resource/online/css/reset.css?v={$Think.config.release_version}">
    <link rel="stylesheet" type="text/css" href="{$Think.config.domain.resource_url}/static/resource/online/css/orderDefine.css?v={$Think.config.release_version}">
    <link rel="stylesheet" type="text/css" href="{$Think.config.domain.resource_url}/static/resource/online/css/orderDetail.css?v={$Think.config.release_version}">
    <link rel="stylesheet" type="text/css" href="{$Think.config.domain.resource_url}/static/resource/online/css/index.css?v={$Think.config.release_version}">
    <link rel="stylesheet" type="text/css" href="{$Think.config.domain.resource_url}/static/resource/online/css/pullMenuFail.css?v={$Think.config.release_version}">
    <script src="{$Think.config.domain.resource_url}/static/resource/online/scripts/jquery.min.js?v={$Think.config.release_version}"></script>
    <script src="{$Think.config.domain.resource_url}/static/resource/online/scripts/wyrem.js?v={$Think.config.release_version}"></script>
    <style>
    	body{
    		background: #D31E20;
    	}
    	.pager{
    		width:7.2rem;min-height:100vh;margin:0.15rem auto 0;background:#fff;
    	}
		.free-dish-list{
			position: relative;
			top: 0;
		}
    </style>
</head>
<body>
<div class="clear pager">
	<div class="orderDefine-content orderDetail-content J-order-page" style="display: block;">
	    <div class="header">
	        <div class="bg">
	        	
	        	<!--桌号加横线 start-->
	        	<div class="numLiner">
	            	<div class="numLef">
	            		<div class="line"></div>
	            	</div>
	            	<p class="tab-num">桌号</p>   
	            	<div class="numRig">
	            		<div class="line"></div>   
	            	</div>
	            </div>
	            <!--桌号加横线 end-->
	            
	            <div class="text J-table-name"></div>
	        </div>
	        <div class="xian"></div>
	    </div>

	    <div class="inform">
	  		<dl class="dll clear J-people-show">
	  			<dt>用餐人数：</dt>
	  			<dd>
					<div class="texts J-order-people"><span></span></div>
	  			</dd>
	  		</dl>
	  		<dl class="dll clear J-btn-order-remark" style="display: none;">
	  			<dt class="name">订单备注：</dt>
	  			<dd>
	  				<div class="tips hide">亲，你有什么忌口请告诉我们</div>
	  				<div class="msg hide J-order-text J-order-remark"></div>
	  				<span class="arr-rig"></span>
	  			</dd>
	  		</dl>
	    </div>

		<!-- 加菜 -->
		<div class="J-cart-wrap" style="display:none;">
			<div class="add_boxs"></div>
		</div>

	    <!-- 订单详情 -->
	    <div class="order_detail_box">
	    	<div class="add-area">
	    		<h6 class="title">订单详情</h6>
	    		<p class="line"></p>
	    	</div>
	    </div>
	    
	    <!-- 已下厨 -->
	    <div class="cooking_box J-order-foods"></div>

		<!-- 导航栏 -->
	    <div class="footer-menu footer-menu-a index_plate_flash" style="display:block;">
	    	
	    	<!--增加提示内容 first-->
	    	<div class="msgs">
	    		<p class="zhu">恭喜<label>你</label>，获微信下单<span class="hao">抢豪礼</span>的机会！</p>
	            <p class="zhu">再加<span class="hao"></span>，每桌有1次<span class="hao">抢豪礼</span>的机会！</p>
	            <p class="zhu">活动期间，微信下单<span class="hao">抢豪礼</span>啦！</p>
			</div>
			<!--增加提示内容 end-->
	    	
	        <div class="footer-menu-disk-r">
	            <div class="footer-menu-disk-txt J-cart-info"></div>
	            <div class="footer_btn_content">
	            	<!--增加的白线 start-->
	            	<div class="xian"></div>
	            	<!--增加的白线 end-->
	                <div class="footer_btn_content_left J-btn-add">加菜</div>
	                <div class="footer_btn_content_right J-btn-pay" style="display: none;">结账</div>
	                <div class="footer_btn_content_right J-btn-order" style="display: none;">下单</div>
	            </div>
	        </div>

			<div class="footer-menu-diskContent J-btn-cart">
				<div class="t">+1</div>
				<div class="l"></div>
				<div class="footer-menu-disk-img">
					<div class="texts J-cart-people-num">1</div>
				</div>
				<div class="r"></div>
			</div>

	        <div class="icon-number J-cart-total" style="display:none;"><span></span></div>
	    </div>
	</div>
</div>	
<!--提示框-->
<div class="ui-tips"></div>

<!--加载框-->
<div id="loadingToast" style="display: none;">
    <div class="ui-mask_transparent"></div>
    <div class="ui-toast">
        <i class="ui-loading"></i>
    </div>
</div>

<!-- 定位错误页面 -->
<div class="pullMenuFail-container J-page-error" style="position: absolute;left: 0; top: 0;display: none; z-index: 4000;">
    <div class="pullMenuFail-statusimg">
        <div class="pullMenuFail-img"></div>
    </div>
    <div class="pullMenuFail-watingtxt">
        <p class="J-page-error-content"></p>
    </div>
    <div class="pullMenuFail-tips" onClick="window.location.reload();">重新定位</div>
</div>

<!-- 屏幕横竖提醒start-->
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用竖屏浏览</div>
    </div>
</div>
<!-- 屏幕横竖提醒end-->

<!-- 自由配弹框 -->
<div class="mask-free J-combo-pop">
	<div class="layout-free">
		<div class="f-top">
			<img src="" />
			<div class="f-top-txt">
				<h4 class="J-combo-name"></h4>
				<p class="J-combo-desc"></p>
			</div>
			<div class="f-btn-exit"></div>
		</div>
		<!-- 内容区域 -->
		<div class="layout-content">
			<!-- 标题 -->
			<div class="f-title">
				<p>套餐详情</p>
				<span></span>
			</div>
			<div class="f-dialog J-combo-main">
			
			</div>
			<div class="J-combo-select J-combo-vice">
			
			</div>
		</div>
		<div class="btn-join-plate">
			<div class="p-left J-combo-price">¥</div>
			<div class="p-right J-combo-confirm">加入餐盘</div>
		</div>
	</div>
</div>
<!-- end 自由配弹框 -->

<!-- 弹框1 -->
<div class="mask-public single-click J-single-soldout">
	<div class="layout-public">
		<div class="wx-tips"></div>
		<div class="txt-area"></div>
		<div class="click-group">
			<div class="btn-know J-change-dish">换别的菜尝尝</div>
		</div>
	</div>
</div>

<!-- 弹框1 -->
<div class="mask-public single-click J-single-known">
	<div class="layout-public">
		<div class="wx-tips"></div>
		<div class="txt-area"></div>
		<div class="click-group">
			<div class="btn-know J-known-close">我知道了</div>
		</div>
	</div>
</div>

<!-- 弹框2 -->
<div class="mask-public double-click">
	<div class="layout-public">
		<div class="wx-tips"></div>
		<div class="txt-area">小伙伴已点过西贝面筋啦， 还要继续添加吗？</div>
		<div class="click-group">
			<div class="btn-continue">继续结账</div>
			<span></span>
			<div class="btn-know">我知道了</div>
		</div>
	</div>
</div>

<!-- 弹框1 -->
<div class="mask-public single-click J-single-weigh">
	<div class="layout-public">
		<div class="wx-tips"></div>
		<div class="txt-area">该门店暂不支持自助下单称重菜，请联系服务员点餐下单</div>
		<div class="click-group">
			<div class="btn-know J-known-close">我知道了</div>
		</div>
	</div>
</div>

<!-- 弹框2 -->
<div class="mask-public double-click J-double-weigh">
	<div class="layout-public">
		<div class="wx-tips"></div>
		<div class="txt-area">您点的菜品包含称重菜(如蒙古牛大骨)，下单后，请联系服务员称重哦～</div>
		<div class="click-group">
			<div class="btn-continue J-weigh-order">确认下单</div>
			<span></span>
			<div class="btn-know J-known-close">我知道了</div>
		</div>
	</div>
</div>

<script src="//webapi.amap.com/maps?v=1.3&key=bdd9e8e4a83eb6414c0b362dfc883062"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/scripts/jquery.cookie.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/common/utils.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/common/config.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/common/factory.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/common/common.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/model/user.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/model/food.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/model/store.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/model/table.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/model/activity.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/controller/activity.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/model/order.js?v={$Think.config.release_version}"></script>
<script src="{$Think.config.domain.resource_url}/static/resource/online/js/controller/order.js?v={$Think.config.release_version}"></script>
<script>
    var storeId = Util.getUrlParam('store_id');
    var tableId = Util.getUrlParam('table_no');
    var from = Util.getUrlParam('from');
    orderController.init(storeId, tableId);
    
</script>
</body>
</html>